.rpt_yk_active{color:#000;}
.rpt_yk_inactive{color:#bbbbbb;}
#rpt_pricr .panel-body  .rpt_price {padding: 6px 10px;font-size: 30px;line-height: 45px;text-align: center;}
#rpt_pricr .panel-body .rpt_price strike {transform: rotate(-20deg);color: red;font-size: 16px;display: block;}
#rpt_pricr .panel-body {border-top: #222 solid 2px;background: #333;}
#rpt_pricr .panel-body .rpt_subtitle {color: yellow;text-align: center;}
#rpt_pricr .panel-body .rpt_description {padding-top: 5px;color: lightgray;font-size: 10px;}
#rpt_pricr .panel-body {padding: 5px;font-size: 18px;}
#rpt_pricr .panel-heading {font-weight: bold;font-size: 18px;padding: 5px;border-radius: 4px 4px 0 0;}
div#rpt_pricr.rpt_plans {border: none;}